<header class="header header-2">
    <div class="branding">
        <a>
            <span class="title">DOCUMENTOS</span>

        </a>
    </div>
    <div class="header-nav">
        <a routerLink="/home"            class="nav-link"><span class="nav-text">INICIO</span></a>
        <a routerLink="/updateDocuments" class="nav-link"><span class="nav-text">CARGAR DOCUMENTOS</span></a>
        <a href="https://acorp-it.com/"  class="nav-link"><span class="nav-text">AGUILAS CORP</span></a>
    </div>
  </header>